 


{{ content_for_index }}


    <div class="padding-box categories home-categories">
      <div class="container-fluid">
        <div class="heading"><h4>LOWA</h4><h1>Categories</h1></div>
        <div class="row">
          <div class="col-md-6">
            <div class="category-box">
              <div class="cat-left-box">
                <a href="/collections/men">
                  <img src="{{ 'mens-boot.png' | asset_url }}" class="img-fluid">
                  <h3>Mens Boots</h3>
                </a>
              </div>
              <div class="cat-right-box">
                <img src="{{ 'cat-1.png' | asset_url }}" class="img-fluid">                
              </div>        
            </div>
          </div>
          <div class="col-md-6">
            <div class="category-box">
              <div class="cat-left-box">
                <a href="/collections/women">
                  <img src="{{ 'womens-boot.png' | asset_url }}" class="img-fluid">
                  <h3>Womens Boots</h3>
                </a>
              </div>
              <div class="cat-right-box">
                <img src="{{ 'cat-2.png' | asset_url }}" class="img-fluid">                
              </div>        
            </div>
          </div>
          <div class="col-md-6">
            <div class="category-box">
              <div class="cat-left-box">
                <a href="/collections/kids-boots">
                  <img src="{{ 'kids-boot.png' | asset_url }}" class="img-fluid">
                  <h3>Kids Boots</h3>
                </a>
              </div>
              <div class="cat-right-box">
                <img src="{{ 'cat-3.png' | asset_url }}" class="img-fluid">                
              </div>        
            </div>
          </div>
          <div class="col-md-6">
            <div class="category-box">
              <div class="cat-left-box">
                <a href="/collections/accessories">
                  <img src="{{ 'accessories.png' | asset_url }}" class="img-fluid">
                  <h3>Accessories</h3>
                </a>
              </div>
              <div class="cat-right-box">
                <img src="{{ 'cat-4.png' | asset_url }}" class="img-fluid">                
              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-box review-box">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <p>For 90+ years, LOWA BOOTS have been acclaimed as the finest outdoor boots in the world by climbers, mountaineers, hikers, the media and certified quality testers. Our attention to every detail in design and European manufacturing has earned our reputation for building the world's most comfortable and durable boots since 1923.</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="review-sub">              
              <h4>Excellent</h4>
              <ul class="nav">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star-half-alt"></i></li>
              </ul>
              <div class="rating">
                <span><div class="number">4.68</div><p>Average</p></span>
                <span><div class="number">994</div><p>Reviews</p></span>
              </div>
              <a href="javascript:;" class="Review-btn"><i class="fas fa-star"></i> <span style="text-transform: uppercase;">Review</span> <small>.io</small></a>
            </div>
          </div>
        </div>
      </div>
      <div class="img-sub"><img src="{{ 'made-europe-badge.png' | asset_url }}" class="img-fluid"></div>
    </div>

    <div class="review-img-box"></div>

    <div class="padding-box product">
      <div class="container">
        <div class="heading"><h4>Similar</h4><h1>Products</h1></div>
        <ul class="row product-slider">
          <li>
            <div class="product-box">              
                <a href="/products/intelligent-sports-shoes">
                  <div class="img-box"><img src="{{ 'mens-boot.png' | asset_url }}" class="img-fluid"> <i class="far fa-heart"></i></div>
                  <h3>RENEGADE GTX® MID <br>£185.00</h3>
                  <p>or £23p/m</p>
                </a>                     
            </div>
          </li>
          <li>
            <div class="product-box">              
                <a href="/products/copy-of-football-shoes-for-boys">
                  <div class="img-box"><img src="{{ 'mens-boot.png' | asset_url }}" class="img-fluid"> <i class="far fa-heart"></i></div>
                  <h3>RENEGADE GTX® MID <br>£185.00</h3>
                  <p>or £23p/m</p>
                </a>                     
            </div>
          </li>
          <li>
            <div class="product-box">              
                <a href="/products/football-shoes-for-women">
                  <div class="img-box"><img src="{{ 'mens-boot.png' | asset_url }}" class="img-fluid"> <i class="far fa-heart"></i></div>
                  <h3>RENEGADE GTX® MID <br>£185.00</h3>
                  <p>or £23p/m</p>
                </a>                     
            </div>
          </li>
          <li>
            <div class="product-box">              
                <a href="/products/joggers-for-women">
                  <div class="img-box"><img src="{{ 'mens-boot.png' | asset_url }}" class="img-fluid"> <i class="far fa-heart"></i></div>
                  <h3>RENEGADE GTX® MID <br>£185.00</h3>
                  <p>or £23p/m</p>
                </a>                     
            </div>
          </li>
          
        </ul>
      </div>
    </div>

    <div class="padding-box feat-box">
      <div class="container">
        <div class="heading"><h4>Technology</h4><h1>features</h1></div>
        <div class="row">          
            <p>We believe in polyurethane (PU). It's a terrific shock absorber and longer lasting than the more common EVA midsole. Plus, PU involves a much cleaner, environmental manufacturing process than EVA. Combine a LOWA PU midsole with one of LOWA's patented sole units, or a VIBRAM® acclaimed sole unit and you get a double dose of durability, comfort and superb performance.</p>     
            <div class="feat-sub">
              <img src="{{ 'mens-boot-line.png' | asset_url }}" class="img-fluid">
              <a href="/blogs/news/sole-technology">read more</a>
              <img src="{{ 'mens-boot-line.png' | asset_url }}" class="img-fluid">
            </div>            
        </div>
      </div>      
    </div>

    <div class="padding-box about about-lowa-story">
      <div class="container-fluid">
        <div class="heading"><h4>About</h4><h1>Lowa</h1></div>
        <ul class="about-slider">          
            <li class="">
              <div class="about-box">              
                  <a href="/pages/the-lowa-story">
                    <div class="img-box">
                      <img src="{{ 'about-rowa.png' | asset_url }}" class="img-fluid">
                      <div class="cont-box">
                        <h3>The Lowa Story</h3>
                        <p>PRECISION, INNOVATION AND PERFORMANCE</p>
                      </div>
                    </div>
                  </a>                     
              </div>
            </li>
            <li class="">
              <div class="about-box">              
                  <a href="/pages/the-lowa-story">
                    <div class="img-box">
                      <img src="{{ 'about-rowa.png' | asset_url }}" class="img-fluid">
                      <div class="cont-box">
                        <h3>The Lowa Story</h3>
                        <p>PRECISION, INNOVATION AND PERFORMANCE</p>
                      </div>
                    </div>
                  </a>                     
              </div>
            </li>
            <li class="">
              <div class="about-box">              
                  <a href="/pages/the-lowa-story">
                    <div class="img-box">
                      <img src="{{ 'about-rowa.png' | asset_url }}" class="img-fluid">
                      <div class="cont-box">
                        <h3>The Lowa Story</h3>
                        <p>PRECISION, INNOVATION AND PERFORMANCE</p>
                      </div>
                    </div>
                  </a>                     
              </div>
            </li>
            <li class="">
              <div class="about-box">              
                  <a href="/pages/the-lowa-story">
                    <div class="img-box">
                      <img src="{{ 'about-rowa.png' | asset_url }}" class="img-fluid">
                      <div class="cont-box">
                        <h3>The Lowa Story</h3>
                        <p>PRECISION, INNOVATION AND PERFORMANCE</p>
                      </div>
                    </div>
                  </a>                     
              </div>
            </li>
            <li class="">
              <div class="about-box">              
                  <a href="/pages/the-lowa-story">
                    <div class="img-box">
                      <img src="{{ 'about-rowa.png' | asset_url }}" class="img-fluid">
                      <div class="cont-box">
                        <h3>The Lowa Story</h3>
                        <p>PRECISION, INNOVATION AND PERFORMANCE</p>
                      </div>
                    </div>
                  </a>                     
              </div>
            </li> 
        </ul>
      </div>
    </div>

    <div class="padding-box categories news-main">
      <div class="container-fluid">
        <div class="heading"><h4>Latest</h4><h1>News & info</h1></div>
        <div class="form-box"><form><select><option>Latest News</option></select></form></div>
        <ul class="news-slider">  
           {% assign blog = blogs.news %}
      {% paginate blog.articles by 5 %}
        {% for article in blog.articles %}
           <li>
            <div class="news-box">
              {% if article.image %}
               <div class="img-box">
               {{ article | img_url: '150x150', scale: 2 | img_tag: '' }}                    
              </div>
            
              {% else %}
               <div class="img-box">
                <img src="{{ 'news-img.png' | asset_url }}" class="img-fluid">                      
              </div>
          {% endif %}
             
              <div class="cont-box">
                <h3>{{ article.title  }}</h3>
                <a href="{{article.url}}">Read More</a>
              </div>                                       
            </div>
          </li> 
      	
      {% endfor %}
     
  	  {% endpaginate %}
               
        </ul>
      </div>
    </div>

