<div class="include_product_icons">
  <ul class="icons">
    <li>
      <img src="{{ 'icon_NoPeanuts_Solid.svg' | asset_url }}" alt="No Peanuts">
      <span>No<br>Peanuts</span>
    </li>
    <li>
      <img src="{{ 'icon_NoTreeNuts_Solid.svg' | asset_url }}" alt="No Tree Nuts">
      <span>No<br> Tree Nuts</span>
    </li>
    <li>
      <img src="{{ 'icon_NoMilk_Solid.svg' | asset_url }}" alt="No Milk">
      <span>No<br>Milk</span>
    </li>
    <li>
      <img src="{{ 'icon_NoEggs_Solid.svg' | asset_url }}" alt="No Eggs">
      <span>No<br>Eggs</span>
    </li>
    <li>
      <img src="{{ 'icon_NoWheat_Solid.svg' | asset_url }}" alt="No  Wheat">
      <span>No<br>Wheat</span>
    </li>
    <li>
      <img src="{{ 'icon_NoSoybean_Solid.svg' | asset_url }}" alt="No  Soybean">
      <span>No <br>Soybean</span>
    </li>
    <li>
      <img src="{{ 'icon_NoShellfish_Solid.svg' | asset_url }}" alt="No Shellfish">
      <span>No<br>Shellfish</span>
    </li>
    <li>
      <img src="{{ 'icon_NoFish_Solid.svg' | asset_url }}" alt="No Fish">
      <span>No<br>Fish</span>
    </li>
  </ul>
  <div class="icons_bottom">
    <p>Oh! By the way, there is NO SESAME either!</p>
      <img src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/gluten_plant_white.png?v=1601259269" alt="Gluten Free and Plant Based">
  </div>
</div>
